---
// @ts-nocheck
import { getCollection, render } from "astro:content";
import PostLayout from "../../layouts/PostLayout.astro";
import Comments from "../../components/Comments.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const pageLang = post.data.lang || "en";
---

<PostLayout frontmatter={post.data} lang={`${pageLang}`}>
  <Content />

  <div class="mt-32">
    <div
      id="giscus-fallback"
      class="text-center border border-quat rounded-4xl border-dashed py-12"
    >
      <p class="text-sm text-sec uppercase text-center">
        Comments should be available here&hellip;
      </p>
      <p class="text-[10px] text-sec mt-2 text-center">
        If it doesn&rsquo;t work, you can
        <a
          href="https://github.com/huchaoning/pages/discussions"
          target="_blank"
          class="underline"
        >
          view on GitHub Discussions
        </a>
      </p>
    </div>

    <div id="giscus-container" class="h-0 opacity-0 overflow-hidden">
      <Comments />
    </div>
  </div>
</PostLayout>

<script>
  window.addEventListener("message", (event) => {
    if (event.origin !== "https://giscus.app") return;

    if (event.data && event.data.giscus) {
      const fallback = document.getElementById("giscus-fallback");
      const container = document.getElementById("giscus-container");

      if (fallback && container) {
        fallback.style.display = "none";
        container.classList.remove("h-0", "opacity-0", "overflow-hidden");
        container.classList.add("h-auto", "opacity-100");
      }
    }
  });
</script>
