@import "tailwindcss";
@plugin "@tailwindcss/typography";


.prose :where(.MathJax[display="true"]) {
  display: block;
  overflow: auto hidden;
}

.MathJax svg {
  shape-rendering: geometricPrecision;
  max-width: none;
  display: inline-block;
  vertical-align: middle;
}